name: Build and Test cFS Bundle
# Workflow builds and tests osal using the cFS-level makefile

on:
  push:
  pull_request:
env:
  ENABLE_UNIT_TESTS: true
  PERMISSIVE_MODE: true
  OMIT_DEPRECATED: true
  SIMULATION: native

jobs:

  prepare-environment:
    name: Prepare Build environment
    runs-on: ubuntu-18.04

    steps:

      # Checkout bundle repository
      - name: checkout-bundle
        uses: actions/checkout@v2
        with:
          repository: nasa/cFS
          submodules: true
          ref: integration-candidate
      - name: Setup Git Environment
        run: |
            git config user.name github-actions
            git config user.email github-actions@github.com
            git remote add fork https://github.com/${{github.repository}}.git
            git fetch fork
            echo "GITHUB_PR_BRANCH=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV
        working-directory: osal

      - name: Update OSAL

        run: |
          git checkout fork/${{env.GITHUB_PR_BRANCH}}
        working-directory: osal

      - name: Check versions
        run: git submodule
        working-directory: /home/runner/work/osal/osal

      # - name: Cache OSAL
      #   id: cache-osal
      #   uses: actions/cache@v2
      #   with:
      #     path: /home/`runner/work/osal/osal/*
      #     key: osal-${{ github.run_number }}

      - name: Set up for build
        run: |
          cp ./cfe/cmake/Makefile.sample Makefile
          cp -r ./cfe/cmake/sample_defs sample_defs
          make prep

      # - name: Cache Bundle
      #   id: cache-bundle
      #   uses: actions/cache@v2
      #   with:
      #     path: /home/runner/work/osal/osal/*
      #   key: bundle-${{ github.run_number }}

  # build-bundle-run-tests:
  #   name: Build with cFS Bundle and run tests
  #   runs-on: ubuntu-18.04
  #   timeout-minutes: 15
  #
  #   steps:
  #     - name: Build
  #       run: |
  #         make -j build/native/default_cpu1/osal/
  #       working-directory: /home/runner/work/osal/osal
